<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <a class="site-name" href="/">Blakey's Page</a>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/resume/">Résumé</a>
      </nav>
    </header>
    <main>{{ content | safe | trim }}</main>
    <footer>
      <p>© <time datetime="2026">2026</time> Andrew Blakey</p>
    </footer>
  </body>
</html>
