<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blakey{% if title %}- {{ title }}{% endif %}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <span class="site-name">Blakey's Page</span>
      <nav>
        <a href="/">Posts</a>
        <a href="/about/">About</a>
        <a href="/resume/">Résumé</a>
      </nav>
    </header>
    <main>{{ content | safe | trim }}</main>
    <footer>
      <p>© <time datetime="2026">2026</time> Andrew Blakey</p>
    </footer>
  </body>
</html>
