@font-face {
  font-family: "Chicago";
  src: url("./assets/ChicagoKare-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-size-normal: 16px;

  font-family: "Chicago", system-ui, sans-serif;
}

body {
  margin: 0;
}
